body, *,*:before, *:after{
	box-sizing: border-box;
}
html,body{
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
	color: #474747;
}
a{
	text-decoration: none;
	color: inherit;
}
.fixed-width{
	width: 940px;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after{
	content:" ";
	display: table;
}
.clearfix:after{
	clear:both;
}
.page-header{
	border-top: 5px solid #ebebeb;
}
.page-header .identity{
	font-size: 3.5em;
	font-family: "Pacifico", cursive;
	position: absolute;
	bottom: 0;

}
.page-header> div{
	position: relative;
}
.page-header nav{
	float: right;
	font-family: "Economica";
	text-transform: uppercase;
}
.page-header li em{
	color: #474747;
	font-size: 1.6em;
	display: block;
	font-weight: bold;
}
.page-header nav li{
	float: left;
	margin-right: 3rem;
	padding-top: 3rem;
	color: #bfbfbf;
}